### POSTGRES ###
#PGADMIN_DEFAULT_EMAIL: user@company.org
#PGADMIN_DEFAULT_PASSWORD: pgadmin_password
###
### MYSQL ###
PMA_HOST=db_dev_container
PMA_USER=root
PMA_PASSWORD=mc_dev_sqlroot_password
PMA_ABSOLUTE_URI=hostname.company.org
###
