### POSTGRES ###
#POSTGRES_DB=sql_db_prod
#POSTGRES_USER=sql_user_prod
#POSTGRES_PASSWORD=sql_password_prod
###
### MYSQL ###
MYSQL_DATABASE=sql_db_prod
MYSQL_ROOT_PASSWORD=sql_rootpassword_prod
MYSQL_USER=sql_user_prod
MYSQL_PASSWORD=sql_password_prod
###
