### POSTGRES ###
#POSTGRES_DB=sql_db_dev
#POSTGRES_USER=sql_user_dev
#POSTGRES_PASSWORD=sql_password_dev
###
### MYSQL ###
MYSQL_DATABASE=sql_db_dev
MYSQL_ROOT_HOST=sqladmin_dev_container
MYSQL_ROOT_PASSWORD=sql_rootpassword_dev
MYSQL_USER=sql_user_dev
MYSQL_PASSWORD=sql_password_dev
###
