DEBUG=1
SECRET_KEY=super_secret_key
DJANGO_ALLOWED_HOSTS=server.company.org 10.x.x.x
### POSTGRES ###
#SQL_ENGINE=django.db.backends.postgresql
#SQL_PORT=5432
###
### MYSQL ###
SQL_ENGINE=django.db.backends.mysql
SQL_PORT=3306
###
SQL_DATABASE=sql_db_dev
SQL_USER=sql_user_dev
SQL_PASSWORD=sql_password_dev
SQL_HOST=db_dev
DATABASE=external
