{% extends "base.html" %}

{% block title %}Edit Food Item{% endblock title %}

{% block content %}
<div class="col-md-6 mb-4">
  <span><a href="{% url 'price_checker:food_item_list' %}" class="btn btn-primary col-4">Back To List</a></span>
</div>
<div class="col-md-4 mb-4">
  <!-- For better button spacing -->
</div>
<div class="col-md-2 mb-4 text-right">
  <span class="text-right"><a href="{% url 'price_checker:index' %}" class="btn btn-primary col-12">Main Menu</a></span>
</div>
<div class="col-md-12">
  {% load widget_tweaks %}
  <form method="POST" class="post-form" action="{% url 'price_checker:food_item_edit' food_item.id%}">
    {% csrf_token %}
    <div class="container text-center">
      <h4>Edit Food Item</h4>
    </div>
    <div class="mb-4">
      {{ form.name.label_tag }}
      {% render_field form.name data-toggle="tooltip" title=form.name.help_text  %}
    </div>
    <div class="mb-4">
      <label>Food Category</br>
      {{ form.food_category }}
      </lable>
    </div>
    <div class="mb-4">
      <label>Food Subcategory</br>
      {{ form.food_subcategory }}
      </lable>
    </div>
    <div class="mb-4">
      {{ form.description.label_tag }}
      {% render_field form.description data-toggle="tooltip" title=form.description.help_text %}
    </div>
    <div class="mb-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% load static %}
<script src="{% static 'price_checker/js/set_focus_id_name_edit.js' %}"></script>
<script srv="load_tooltips.js{% static 'price_checker/js/load_tooltips.js' %}"></script>
{% endblock content %}
