{% extends "base.html" %}

{% block title %}Add New Food Subcategory{% endblock title %}

{% block content %}
<div class="col-md-6 mb-4">
  <span><a href="{% url 'price_checker:food_subcategory_list' %}" class="btn btn-primary col-4">Back To List</a></span>
</div>
<div class="col-md-4 mb-4">
  <!-- For better button spacing -->
</div>
<div class="col-md-2 mb-4 text-right">
  <span class="text-right"><a href="{% url 'price_checker:index' %}" class="btn btn-primary col-12">Main Menu</a></span>
</div>
<div class="col-md-12">
  {% load widget_tweaks %}
  <form method="POST" class="post-form" action="{% url 'price_checker:food_subcategory_add' %}">
    {% csrf_token %}
    <div class="container text-center">
      <h4>Add New Food Subcategory</h4>
    </div>
    <div class="mb-4">
      {{ form.name.label_tag }}
      {% render_field form.name data-toggle="tooltip" title=form.name.help_text  %}
    </div>
    <div class="mb-4">
      <label>Parent Category</br>
      {{ form.parent_category }}
      </label>
    </div>
    <div class="mb-4">
      {{ form.description.label_tag }}
      {% render_field form.description data-toggle="tooltip" title=form.description.help_text %}
    </div>
    <div class="mb-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% load static %}
<script src="{% static 'price_checker/js/set_focus_id_name_add.js' %}"></script>
<script srv="load_tooltips.js{% static 'price_checker/js/load_tooltips.js' %}"></script>
{% endblock content %}
k
